.post-meta{
  display : block;
  width : 100%;
  ul.post-meta-list{
    margin : 0px;
    padding : 5px 0px 5px 15px;
    li{
      display : inline-block;
      margin-right : 10px;
      i:before{
        color : $skyblue;
        font-size: 110%;
        margin-right : 5px;
      }
    }
  }
}