.feature-posts{
  position: relative;
  min-height : 220px;
  background-color: $white;
  padding : {
    top : 20px;
    bottom : 20px;
  }
  .section-title{
    text-align: center;
    h4{

    }
  }
  #NextPageBtnLast,#PrevPageBtnLast,
  #NextPageBtnBest,#PrevPageBtnBest{
    position: absolute;
    top : 120px;
    i{
      &:before{
        display : inline-block;
        padding : 3px 10px;
        font-size : 160%;
        background-color: $white;
        color: $grey3;
        @include border-radius(30px);
      }
    }
    &:hover{
      i:before{
        color : $red;
      }
    }
  }
  #NextPageBtnLast,
  #NextPageBtnBest{
    right : -1%;
  }
  #PrevPageBtnLast,
  #PrevPageBtnBest{
    left : -1%;
  }
  .feature-posts-wrapper {
    direction: ltr;
    position: absolute;
    width : 97%;
    .feature-posts-inner {

      .page-grid {
        text-align: center;
        display: block;
        padding : 20px 10px;
        vertical-align: middle;
        img{
          max-width: 100%;
          height : 40px;
          vertical-align: middle;
        }
      }
    }
  }
}

