.footer-widget-area{
  &:before{
    @include single-transition(all ,2s , ease-in-out);
    right: 0px;
    left: auto;
  }
  &:hover{
    &:before {
      left: 0px;
      right: auto;
    }
  }
  .footer-widget-col{
    @include span-columns(12,12);
    @include at-breakpoint($xmedium $medium){
      @include span-columns(6,12);
      margin-right : auto;
      &:nth-of-type(2n){
        @include omega;
        margin-right : auto;
      }
    }
    @include at-breakpoint($medium){
      @include span-columns(3,12);
      margin-right : auto;
      &:nth-of-type(4n){
        @include omega;
        margin-right : auto;

      }
    }
  }
  aside.widget{
    h4.widgettitle{
      padding :{
        left : 10px;
        right : 30px;
      }
      &:before{
        right: 3px;
        left: auto;
      }
      &:after{
        right: -3px;
        left: auto;
      }
    }
    &.widget_last_product_widget{
      ul{
        li{
          a{
            @extend .def-transition;
            div{
              float : right;
              img{
                margin-right : auto;
                margin-left : 8px;

              }
            }
          }
        }
      }
    }
    &.widget_contact_info_widget{
      i.fa{
        &:before{
          margin-left : 8px;
          margin-right : auto;

        }
      }
    }
  }
}
.site-footer{
  .created-by{
    float : left;
  }
}