.hero{
  .logo-wrapper{
    &:before{
      left : 100%;
      right : auto;
    }
    &:after{
      right : 100%;
      left  : auto;
    }
  }
  .menu-search-area{
    @include at-breakpoint($small){
      float : left;
    }
    padding : 20px;
    form.searchform{
      span.searchButton{
        left : 12px;
        right : auto;
      }
      @include at-breakpoint($small){
        input#s {
          padding-left: 40px;
          padding-right: 0px;
        }
      }

    }

  }
  a.menu-toggler{
    float : left;
  }
  .contact-wrapper{
    float : left;
    i{
      float : right;
    }
    ul{
      float : right;
      margin-left: 10px;
      margin-right : auto;
      li{
      }
    }
  }
}
nav.main-menu {
  width : 100%;
  ul.main-nav {
    &:before{
      left: auto;
      right: 0px;
    }
    &:hover {
      &:before {
        right: 0;
        left : 0;
        width: 100%;
      }
    }
    li {
      &.menu-item-has-children {
        &:after {
          right: auto;
          left : 2px;
          font-family: FontAwesome;
        }
      }
    }
    ul.sub-menu {
      right: 0px;
      left: auto;
      li {
        &.menu-item-has-children {
          &:after {
            left: 5px;
            right: auto;
            content: "\f0d9";
            font-family: FontAwesome;
          }
        }
        ul.sub-menu {
          right: 120%;
          left: auto;
        }
        &:hover {
          & > ul.sub-menu {
            right: 100%;
            left: auto;
          }
        }
      }
    }

  }
  div.responsive-menu {
    @extend .def-transition;
    left: 100%;
    right: auto;
    display: block;
    &.show-menu {
      left : 0px;
      right : auto;
    }
    a.close-responsive {
      float: left;
    }
    a.responsive-logo {
      float: left;
    }

    ul.responsive-nav {
      li {
        ul.sub-menu {
          margin-left: auto;
          margin-right: 30px;
        }
      }
    }
  }
}
