.site-content{
  background-color: $grey1;
 .primary{
   @include span-columns(12,12);
   @include at-breakpoint($medium){
     @include span-columns(9,12);
     margin-right : auto;
   }
 }
  .secondray{
    @include span-columns(12,12);
    @include at-breakpoint($medium){
      @include span-columns(3 omega,12);
      margin-right : auto;
    }
  }
  &.without-sidebar{
    .primary{
      width : 100%;
      float : none;
    }
    .secondray{
      display : none;
    }
  }
  &.full-width{
    .primary{
      width : 100%;
      float : none;
    }
    .secondray{
      display : none;
    }
  }
}

//---------------------Primary-----------------------
.primary {
  .half{
    @include span-columns(12,12);
    padding : 0px 20px;

    @include at-breakpoint($medium){
      @include span-columns(6,12);
      margin-right : auto;
      &:nth-of-type(2n){
        @include omega;
        margin-right : auto;
      }
    }
  }
  ul.contact-list{
    list-style: none !important;
    list-style-type: none !important;

    li{
      display: block;
      position: relative;
      border-bottom : 1px dashed $grey3;
      padding-bottom : 5px;
      margin-bottom : 5px;
      &:before{
        display : block;
        position : absolute;
        top : 0px;
       right : -30px;
        left : auto;
        font-family: FontAwesome;
        font-size : 120%;
        color : $skyblue;
      }
      &.address:before{
        content : "\f041";
      }
      &.phone:before{
        content : "\f095";
      }
      &.fax:before{
        content : "\f1ac";
      }
      &.email:before{
        content : "\f0e0";
      }
      &:last-of-type{
        border-bottom : 0px;
        margin-bottom : 0px;
      }
    }
  }
  article.single-article{
  }
  .page-content-desc{
    ul{
      margin-left : 0px;
      padding-left : 0px;
      padding-right : 40px;
    }
  }
  .archive-title{
    form.searchform{

      label{
        float : right;
      }
      input#s{
        float : left;
      }
      span.searchButton{
        left: 15px;
        right : auto;
      }


    }
  }
  .archive-article{
    margin-right: auto;
    .featured-image{
      float : right;
      margin-left: 15px;
      margin-right : auto;
    }

    .article-body{
      float : right;
      .article-title{
      }
      ul{
        margin-left : 0px;
        padding-left : 0px;
        padding-right : 40px;
      }

    }
  }
}

