.site-content{
  background-color: $grey1;
 .primary{
   @include span-columns(12,12);
   @include at-breakpoint($medium){
     @include span-columns(9,12);
     margin-right : auto;
   }
 }
  .secondray{
    @include span-columns(12,12);
    @include at-breakpoint($medium){
      @include span-columns(3 omega,12);
      margin-right : auto;
    }
  }
  &.without-sidebar{
    .primary{
      width : 100%;
      float : none;
    }
    .secondray{
      display : none;
    }
  }
  &.full-width{
    .primary{
      width : 100%;
      float : none;
    }
    .secondray{
      display : none;
    }
  }
}

//---------------------Primary-----------------------
.primary {
  article.single-article{
  }
  .page-content-desc{
  }
  .archive-title{
    form.searchform{

      label{
        float : right;
      }
      input#s{
        float : left;
      }
      span.searchButton{
        left: 15px;
        right : auto;
      }


    }
  }
  .archive-article{
    margin-right: auto;
    .featured-image{
      float : right;
      margin-left: 15px;
      margin-right : auto;
    }

    .article-body{
      float : right;
      .article-title{
      }

    }
  }
}

