.items-block{
  .items-list{
    a.item-unit{
      @include span-columns(12,12);
      @include at-breakpoint($xmedium $medium){
        @include span-columns(6,12);
        margin-right : auto;
        &:nth-of-type(2n){
          @include omega;
          margin-right : auto;

        }
      }
      @include at-breakpoint($medium){
        @include span-columns(4,12);
        margin-right : auto;
        &:nth-of-type(3n){
          @include omega;
          margin-right : auto;

        }
      }
      .item-detail{
        &:after{
          @extend .def-transition;
          right: 0px;
          left : auto;
        }
        h4.item-title{
          padding : 10px 55px 10px 10px;

          &:before{
            @extend .def-transition;
            font-family: FontAwesome;
            content : "\f275";
            right: 0px;
            left : auto;
          }
        }
      }
      &:hover{
        .item-detail{
          &:after {
            left: 0px;
            right: auto;
          }
        }
      }
    }
  }

}