.secondary{
    aside.widget{
      @extend .white-box;
      h4.widgettitle{
        padding :{
          left : 10px;
          right : 30px;
        }
        &:before{
          right: 5px;
          left: auto;
          top : 6px;
        }
        &:after{
          right: -1px;
          left: auto;
          top : 8px;
        }
      }
      &.widget_search{
        form.searchform{
          span.searchButton{
            left: 12px;
            right : auto;
          }
          @include at-breakpoint($small){
            input#s {
              padding-left: 40px;
              padding-right: 10px;
            }
          }

        }
      }
      &.widget_last_product_widget{
        ul{
          li{
            a{
              div{
                float : right;
                img{
                  margin-left : 8px;
                  margin-right : auto;
                }
                 span{
                }
              }
              &:hover{
              }
            }
          }
        }
      }
      &.widget_contact_info_widget{
        i.fa{
          &:before{
            margin-right : auto;
            margin-left: 8px;

          }
        }
      }
    }

}